<%- include('partials/header') %>

    <h1><%= requestedPost.title %></h1>

    <p>  <%= requestedPost.body %></p>

    <a href="http://localhost:3000/delete/<%= requestedPost._id %>">DELETE</a>
         

    

    

<%- include('partials/footer') %>